@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fondamento";
}

header {
    color: orange
  }

body{
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}

  img.smaller {
    width: 200px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 8px;
  }
  h1.intro {
    display: inline-block;
    font-size: 82px;
    color: #ffa500;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    word-spacing: 4px;
  }

  ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
  }
  
  ul li {
    display: inline-block;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
  }
  
  ul li a:hover {
    background-color: #ffa500;
    color: #fff;
  }
  
  ul li.active a {
    background-color: #ffa500;
    color: #000;
  }

  article {
    background-color: #111111;
    width: 94%;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 8px;
    height: calc(1em * 122);
    opacity: 0.98;
    margin-bottom: 8px;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .title h1 {
    color: #ffa500;
    font-size: 96px;
  }
  
  .button {
    position: absolute;
    top: 10%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  
  .btn {
    border: 1px solid #fff;
    padding: 4px 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    display: inline-block;
  }
  
  .btn:hover {
    background-color: #ffa500;
    color: #000;
  }

  i.fa-search {
    margin-right: -50px;
  }
  html {
    overflow: scroll !important;
  }
  #canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    z-index: -1;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 64px;
  }
  
  .column {
    max-width: 40%;
    margin-left: 32px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
    border-radius: 6px;
  }
  .column img:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  .item {
    background: #ffa500;
    overflow: hidden;
  }
  .column h1 {
    margin-top: 8px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
  }
  .column hr {
    margin: 0 auto;
    width: 50%;
    color: #ffa500;
    border: 1px solid #ffa500;
    height: auto !important;
  }
  .column p {
    font-family: "Roboto";
    font-size: 26px;
    text-indent: 18px;
  }
  p.bigger {
    font-size: 15px;
    text-indent: 17px !important;
  }
  p.biggers {
    font-size: 15px;
    text-indent: 17px !important;
  }
  p.s {
    font-size: 15px;
  }
  h2 {
    margin-left: 96px;
    font-size: 48px;
    font-family: "Grenze Gotisch";
    letter-spacing: 4px;
  }
  hr {
    width: 80%;
    margin-left: 90px;
    height: 2px;
    border: 1px solid #ffa500;
    background-color: #ffa500;
    border-radius: 2px;
  }
  
  footer {
    height: 10vh;
    background-color: #111111;
    opacity: 0.9;
  }
  footer p {
    text-align: center;
    font-size: 25px;
  }
  strong {
    font-family: "Grenze Gotisch";
    font-size: 44px;
    color: #ffa500;
  }
