@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fondamento";
}

header {
    background-image: url("OnePieceBG.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
  }
  
  ul li {
    display: inline-block;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
  }
  
  ul li a:hover {
    background-color: #ffa500;
    color: #fff;
  }
  
  ul li.active a {
    background-color: #ffa500;
    color: #000;
  }

  article {
    background-color: #111111;
    width: 94%;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 8px;
    height: calc(1em * 122);
    opacity: 0.98;
    margin-bottom: 16px;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .title h1 {
    color: #ffa500;
    font-size: 96px;
  }
  
  .button {
    position: absolute;
    top: 10%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  
  .btn {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
  }
  
  .btn:hover {
    background-color: #ffa500;
    color: #000;
  }