article.stream {
  height: 110vh !important;
}
video {
  opacity: 1;
  margin: 0 auto;
}
p {
  color: #ffa500;
}
a {
  color: white;
  text-decoration: none;
}
.episodes {
  margin-left: 64px;
  margin-top: 48px;
}
aside {
  float: right;
  width: 20%;
  margin: 0 40px 0 0;
  height: 955px;
  border: 2px solid #ffa500;
}
aside h1 {
  font-size: 56px;
  margin-left: 32px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #ffa500;
}
aside p {
  color: white;
  margin-left: 32px;
  font-size: 20px;
}
