@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fondamento";
}

header {
  background-image: url("1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover {
  background-color: #ffa500;
  color: #fff;
}

ul li.active a {
  background-color: #ffa500;
  color: #000;
}
.logo img {
  float: left;
  width: 175px;
  height: 225px;
}

.main {
  max-width: 1200px;
  margin: auto;
}

.title {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1 {
  color: #ffa500;
  font-size: 96px;
}

.button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}

.btn:hover {
  background-color: #ffa500;
  color: #000;
}

iframe.chat {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  transform: translateY(-90%) translateX(-85%);
  transition: all 0.5s ease-in-out;
}
iframe.chat:hover {
  transform: translateY(0%) translateX(0%);
}